{:kotoba.app/id "cloud.itonami.isic-4721", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibjvrioinfxc56v5y4wvpquywznuyltcqtjw2jk6r3zm6vi7ylivu", :kotoba.app/embed-url "ipfs://bafkreibjvrioinfxc56v5y4wvpquywznuyltcqtjw2jk6r3zm6vi7ylivu", :published {:archive "https://kotobase.net/ipfs/bafkreibjvrioinfxc56v5y4wvpquywznuyltcqtjw2jk6r3zm6vi7ylivu", :size 73685, :put-status 201, :get-status 200, :at "2026-08-15T13:40:50.791Z"}}
